.wrapper{
    height: 150vh;
    background-color: lightblue;
}
.header{
    position: absolute;
    background-color: cyan;
    width: 100%;
}
.header + *{
    padding-top: 1.5em;
}
.watcher{
    height: 10vh;
    background-color: lightgreen;
}
.is-sticky{
    position: fixed;
    top: 0;
}
